* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: #000000;
    background-color: #ffffff;
}

/* Global Styles */
main {
    margin: 0 auto;
}

h3 {
    font-size: 1em;
}

button {
    background-color: #567b95;
    color: white;
    padding: 10px 20px;
    /*! display: inline-block; */
    font-size: 0.7em;
    border-radius: 5px;
    border: solid 1px #567b95;
}

.d-flex {
    display: flex;
}

/* Nav Bar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    /*! padding: 0 10px; */
    z-index: 10;
    border-bottom: solid 1px #dddddd;
}

.navbar > div {
    flex: 1;
}

.navbar div:nth-child(1) {
    text-align: left;
    margin-left: 20px;
}

.navbar div:nth-child(2) {
    text-align: center;
}

.navbar div:nth-child(3) {
    text-align: right;
    margin-right: 20px;
}

 .navbar a {
    padding-right: 20px;
    font-size: 0.9em;
 }

 .navbar img {
     width: 195px;
     height: auto;
 }

/* Main Section */
.main-section {
    max-width: 945px;
    margin: 42px auto 0 auto;
    padding-top: 50px;
}

.main-section h1,
.main-section h2,
.main-section > p,
.main-section div {
    width: 600px;
    margin: auto;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*! font-size: 1.2em; */
    margin-bottom: 1em;
}

.main-section > p {
    font-size: 1.2em;
    /* padding-bottom: 1em; */
}

.main-section > h2 {
    /* padding-bottom: 1em; */
    font-weight: 540;
}

.main-section h1 {
    font-style: italic;
}

.main-image-figure {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.main-image-figure img{
    width: 100%;
}

.article-image-figure {
    width: 600px;
    margin: 50px auto;
}

.article-image-figure img {
    width: 100%;
}

.main-image-figure figcaption,
.article-image-figure figcaption {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #666666;
}

/* Infographic */
.infographic {
    width: 100%;
}

.infographic .grid-wrapper {
    width: 100%;
    height: 576px;
    background-image: url(assets/article-2-infographic.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: repeat(4, 144px);
    grid-template-columns: repeat(4, 228px);
    grid-column-gap: 1em;
}

.infographic .grid-wrapper img {
    width: 100%;
    height: 100%;
}

.infographic .grid-wrapper p {
    font-size: 12px;
    line-height: 1.2em;
    letter-spacing: 1px;
    width: 100%;
}

.infographic .grid-wrapper span {
    font-weight: bold;
    padding-right: 10px;
}

.infographic > p {
    width: 100%;
    line-height: 1.2em;
    font-size: .8em;
}

.infographic > h3 {
    margin-bottom: 0;
}

/*Social links*/
.social-links {
    /* padding: 10px 0; */
}

.social-links > p {
    font-weight: bold;
}

.social-links > div > div{
    justify-content: flex-end;
}

.social-icons-round {
    background-color: #eeeeee;
    border-radius: 50%;
    
}

.social-icons {
    display: inline-block;
    width: 27px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    margin-left: 15px;
}

.social-icons i {
    background-color: transparent;
    font-size: 14px;
}

/* Subscribe Message */
.subscribe {
    text-align: center;
    font-weight: bold;
}

.subscribe p {
    margin: 0;
    padding: 0;
    font-size: .9em;
    font-family: Arial, Helvetica, sans-serif;
}

.subscribe a{
    color: #326891;
}

.subscribe hr {
    width: 72px;
}

/* Main Aside */

.main-aside {
    float: right;
    width: 210px;
    height: 329px;
    font-size: 14px;
    margin-right: -120px;
    position: relative;
    bottom: 100px;
}

.main-aside img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.main-aside div {
    width: 100%;
}

/* Comments Section Button and Social Links */
.comments button {
    width: 100%;
    height: 36px;
    /*! font-size: ; */
}

.comments > div {
    justify-content: flex-end;
}

/* Other Articles */
.bottom-width {
    width: 1200px;
    margin: 0 auto;
}

.aside-grid-wrapper {
    display: grid;
    grid-template-areas: 
                        "more-in-space-and-astronomy most-popular"
                        "editors-pick most-popular";
}

.aside-grid-wrapper section {
    border-top: black 1px solid;
    margin-top: 1em;
}

.more-in-space {
    grid-area: more-in-space-and-astronomy;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 272px);
    grid-column-gap: 1em;
}

.more-in-space .grid-container {
    grid-template-rows: repeat(2, 285px);
    grid-row-gap: 1em;
}

.bottom-grid-items figure {
    margin: 0;
}

.bottom-grid-items figcaption a {
    color: #999999;
    float: right;
    font-size: .6em;
    margin: 5px 0;
}

.bottom-grid-items small {
    color: #999999;
    font-size: .7em;
    margin: 5px 0;
}

.bottom-grid-items p{
    margin: 0;
}

.bottom-grid-items p:nth-of-type(1) {
    padding-top: 25px;
}

.bottom-grid-items img {
    width: 100%;
    height: auto;
}

.editors-pick {
    grid-area: editors-pick;
    width: 100%;
}

/* Most Popular Section */
.most-popular p {
    border-top: 1px solid #dddddd;
    padding-top: 16px;
}

.most-popular {
    grid-area: most-popular;
    width: 315px;

    margin-left: 30px;
}

/* Footer Links */

footer.bottom-width{
    margin-top: 2em;
    border-top: double #dddddd 5px;
    padding-top: 8px;
}

footer.bottom-width p {
    text-align: right;
    margin: 0;
    color: #999999;
    font-size: .9em;
}

footer .d-flex {
    justify-content: space-between;
}

footer ul {
    padding: 0;
}

footer article {
    flex: 1;
}

footer article h4 {
    margin: 1em 0 0;
}

footer article {
    font-size: 0.8em;
    line-height: 2em;
}

.subscribe-column {
    border-left: 1px solid #dddddd;
    padding-left: 1em;
}

.subscribe-column ul:nth-of-type(1){
    font-weight: bold;
}

.subscribe-column ul:nth-of-type(2){
    font-size: .8em;
    border-bottom: 1px solid #dddddd;
}

.subscribe-column ul:nth-of-type(3){
    font-size: .8em;
}

svg {
    width: 13px;
    height: 13px;
    line-height: -2em;
}

/* Footer Nav Links */
footer nav {
    border-top: 1px solid #dddddd;
    font-size: .7em;
    margin: 10px 0 50px;
    padding: 0 70px;
}

footer nav a {
    color: #666666;
}